[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
bumpversion = "*"
mkdocs = "*"
mkdocs-macros-plugin = "*"
mkdocs-git-revision-date-plugin = "*"

[packages]
requests = "*"
tqdm = "*"

[requires]
python_version = "3.6"
