PORT= Port to have the web server to be on

//These are the secrets for our app, NEVER SHARE THESE EVER
AUTH0_DOMAIN=
AUTH0_CLIENT_ID=
AUTH0_CLIENT_SECRET=

//IP of our site
BASE_IP=35.237.34.41
//Basicly the homepage or base url of our site
BASE_URL=http://${BASE_IP}:${PORT}
//Call back url for logout
AUTH0_CALLBACK_URL=${BASE_URL}/callback
