PORT=3000  # The port of the server to run on

AUTH0_DOMAIN=  # The domain of the authenticator
AUTH0_CLIENT_ID=  # The admin's ID
AUTH0_CLIENT_SECRET=  # The admin's secret

BASE_IP=localhost  # The IP to run the server on
BASE_URL=http://localhost:3000  # The URL of the server (include http/https and port)
AUTH0_CALLBACK_URL=http://localhost:3000/callback  # The callback URL for logout (same as BASE_URL, but with /callback)

ASSIGNER_SCRIPT=assign_batch.py
ASSIGNER_SOURCE=../../python/psic/assigner/
IMAGE_SOURCE=/home/matmorcat/P-Sick/

FULL_SIZE_IMAGE_PATH=/home/matmorcat/P-Sick/data/Florence  # The scope path to where the catalog.csv should exist
SMALL_SIZE_IMAGE_PATH=/home/matmorcat/P-Sick/small/Florence  # The scope path to the small version of the above

# The IP in src/dashboard/v2/src/server-config.js must also be changed to the same value used here!
