PORT= Port to have the web server to be on

AUTH0_DOMAIN= The domain given by auth0
AUTH0_CLIENT_ID= Id so auth0 knows who this is
AUTH0_CLIENT_SECRET= secret key for authentication, DONT SHARE THIS EVER, LIKE EVER
AUTH0_CALLBACK_URL= call back route, for example http://localhost:3000/callback
BASE_URL= our sites base url, for example http://localhost:3000
